@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,400i,700&display=swap');

body {
    background: white;
    color: #323232;
    font-family: "DM Sans", sans-serif;
  }

  .container {
    width: 400px;
    height:auto;
    margin: 1px auto;
    background-color: #B3E5FC;
    border: 3px solid #00ACC1;
  }

  #date {
    text-align:right;
    margin: 20px;
    font-size: 20px;
    color: #323232;
    font-family: "DM Sans", sans-serif;
  }

  .header {
    width: 400px;
    height: 180px;
    text-align:center;
    background-image: url('../css/background.jpg');
    background-size: cover;
  }

  .refresh i{
    font-size: 25px;
    color:black;
  }

  .refresh i:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #0033FF;
    transform: rotate(60deg);
  }

   .add-item {
    text-align:center;
    margin: 20px;
  }

  input[type="text"] {
    font-size: 15px;
    font-family: "DM Sans", sans-serif;
    height: 15px;
    width:300px;
    padding: 10px;
    border: 3px solid #4FC3F7;
    background: white;
    border-radius: 10px;
    color: #717171;
  }

  input[type="text"]:focus {
    color: black;
  }
  
  input#new-task {
    width: 300px;
    margin: auto 5px
  }

  .header h2 {
    font-size: 35px;
    border-bottom: 2px solid #323232;
  }

 .content h2{
   margin: 0 10px;
 }
  
  .item{
    width:350px;
    min-height: 50px;
    position: relative;
    list-style: none;
    padding: 0;
    word-wrap: break-word;
  }
  
.item i.co{
    position: absolute;
    font-size: 25px;
    left:5px;
    top:8px;
  }

.item i.co:hover{
    cursor: pointer;
    color:#0033FF;
  }

.fa-check-square{
    color:#00ACC1;
  }

.item p.text{
  display: flex;
  position: absolute;
  padding:0;
  margin:0;
  font-size: 20px;
  left:50px;
  top:5px;
  max-width: 250px;
  }

.lineThrough{
    text-decoration: line-through;
    color :#323232;
  }

.item i.de{
    position: absolute;
    font-size: 25px;
    right:10px;
    top:9px;
  }

.item i.de:hover{
    color:#FF0033;
    cursor: pointer;
  }

 